/* плавный переход по якорям */
html{
	scroll-behavior: smooth;
}

/* Боковое меню */
.riddles_nav{
	padding: 10px;
	position: fixed;
		right: 15px;
		top: 15%;	
	background: url(/img/question.jpg) 93px 59px;
		background-size: 314px 174px;	
		background-color: #000000;
		background-repeat: no-repeat;
	color: white;
	line-height: normal;
		box-shadow: 0 0 50px #000000;
	}

/* Поля с загадками */
#riddles_child, #riddles_easy, #riddles_hard{
	scroll-margin: 150px;
}

form fieldset{
		margin-top: 20px;
			border-color: #ff00d4;
			border-width: 4px;
			border-style: solid;
			border-radius: 44px;
	}

form fieldset:focus-within{
	border-color: #ff00d480;
}

fieldset legend, .bold{
	font-weight:bold;
}	

fieldset p{
	margin-bottom: 5px;
}

legend + p{
	margin-top: 5px;
}

p + p:not([class=bold]+p), [name="userAnswer_12"] + p{
	white-space: pre-line;
}

#riddles_very_hard input+p, #riddles_very_hard legend+p{
	font-weight: bold;
	font-style: italic;	
}

#riddles_very_hard p+p, #riddles_very_hard p+p{
		margin-top: 0;
}

[name="userAnswer_19"]{
	text-align: center;	
}


/* Поле с победителями*/
.winUsers{
	background: url(/img/pedestal.jpeg);
	background-size: cover;	
	background-position: center;
	min-height: 285px;
		width: 500px;
	text-align: center;
}

.answersByUsers{
	float: right;
		margin-top: -398px;
		margin-right: 40px;
		padding: 4px;			
	min-height: 300px;
	border: solid 5px gold; 
	background-color: white;
	}

.answersByUsers span+span{
	text-align: center;
}	

div div{
	font-weight: bold;
}

.right_answer {
	display: inline-block;
	margin-left: 160px;
		margin-top: 5px;
	font-size: 30px;
		color: #0000FF;
		font-weight: bold;
		    -webkit-text-stroke: 0.7px #ee82ee;    		
}

aside hr{
	margin-bottom: 3px;
margin-top: -42px;
}

details ol{
	background-color: white;
	margin:0;
}	





