
/*Название сайта, крартинка, приветствие*/
.websiteName {
	margin-top: 0;    	
		font-size: 150px;	
		font-style: oblique;
		font-weight: normal;
		font-family: 'Rubik Beastly', cursive;
		font-variant: small-caps;
	color: blueviolet;
	-webkit-text-stroke: 5px #000000;
	text-shadow: 5px 0px 15px #000000;
	}
	
	.image_index {
		float: right;
		position: relative;			
			bottom: 40px;
			margin-left: 5px;
		filter: hue-rotate(45deg);
	}	

	audio {
		width: 435px;
		height: 65px;
		position: absolute;
		right: 151px;
		top: 239px;
		border: 6px #ffffff solid;
		border-radius: 40px;	
	} 

	audio > p {
		width: 400px;
		border: 2px black solid;
		background-color: white;
		position: absolute;
		top: 230px;
	}

	s {
		text-decoration-color: #000000b8;
	}	
	/*Заголовки уровня 2 - подчёркивание*/
	h2 {
		text-underline-offset: 1.5px;
	}

	/*Секция обновлений*/
	section {
		padding: 6px;
		margin: 20px 0;
			background-color: #000000;
			background-image:url(/img/news.JPG);
			background-repeat: no-repeat;			
			background-size: 336px;
			background-blend-mode: hard-light;
				color: #ffffff;				
				font-size: 20px;
				text-align: center;
		box-shadow: 0 0 36px #000000;
		}

	.h2_new {
		font-size: 40px;
		letter-spacing: 0.21em;
		text-transform: uppercase;
		text-decoration: underline;
	}

	
	/*Таблица со списком обновлений*/

	table{
		margin: 0 15%;	
		border-spacing: 0px;					
		border-image: repeating-linear-gradient(45deg, #0a24eb, #33ff48, #3343ff 8px) 60 / 7px;
		padding: 5px;		  
	}

	td {
		border: 2px solid #00e2ff;
	}

	td:first-child {
		border-left: none;
	}

	td:last-child {
		border-right: none;
	}

	tr:last-child > td{
		border-bottom: none;
	}

	caption {
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 5px;
	}

	th {
		border-bottom: solid #00e2ff 5px;
		font-size: 1.2em;
		text-shadow: 2px 0px 0.5px #000000;
		background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgb(102 20 251 / 67%));	
	}

	td {
		padding: 5px;		
		text-align: left;	
	}

	time {
		font-size: 30px;
	}
	
	time::before {
		content: "🆕";		
		font-size: 35px;
	}
	
		/*Раздел будущих обновлений*/
	h3 {
		margin: 0;
	}
	
	.will_be {
		text-align: left;
		line-height: 1.5;
	}

	.will_be s {
		text-decoration: line-through solid hsla(0, 100%, 50%, 62%);
	}

	/*Вторая картинка */
	.image_index_2 {
		float: left;
		padding-right: 10px;
		position: relative;
		bottom: 10px;
	}

	
	