img {
  position: relative;
    bottom: 30px;
    right: 134px;
    float: right;  
}

p{
  margin-bottom: 30px;
  white-space: pre-line;
}

p+p{
  display: flex;
}

label{
  position: relative;			
  right: 200px;
  top: 3px;				
  transition: transform 0.4s ease;	
}

input:focus + label {
  position: relative;      
  left: -238px;
  transform: translateY(-29px);
    font-size: 17px;
    color: rgba(76, 72, 72, 0.730);       
}  

input:not(:placeholder-shown) + label{ 
  display: none;
}

output {
  display: block;
    position: absolute;
    left: 440px;
  height: 30px;
      font-weight: bold;
      font-size: 1.17em;
}